:root {
    --bg: #0f172a;
    --card: rgba(255, 255, 255, 0.1);
    --text: #ffffff;
    --accent: #22c55e;
}

.light {
    --bg: #f4f6f8;
    --card: rgba(0, 0, 0, 0.05);
    --text: #111;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: var(--bg);
    color: var(--text);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.calendar, .app {
    backdrop-filter: blur(15px);
    background: var(--card);
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
}

.input-area { display: flex; gap: 10px; }
input { flex: 1; padding: 10px; border-radius: 8px; border: none; }
button { background: var(--accent); border: none; padding: 10px; border-radius: 8px; color: white; cursor: pointer; }


li {
    list-style: none;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
}

.done { text-decoration: line-through; opacity: 0.6; }


@media (max-width: 500px) {
    
    .calendar, .app {
        width: 95%; 
        padding: 10px; 
        margin-top: 10px;
    }

    header h1 {
        font-size: 1.2rem; 
    }

    
    .day {
        padding: 5px; 
        font-size: 0.9rem;
    }

    
    .input-area {
        flex-direction: column;
        gap: 8px;
    }
}

header {
    flex-wrap: wrap; 
    gap: 10px;
}
